@page "/"

@using DataGridShowDeleteConfirmation.Data
@inject WeatherForecastService ForecastService

@if (forecasts == null) {
    <p><em>Loading...</em></p>
}
else {
    <DxGrid Data="@forecasts" CssClass="mw-1100" @ref="myGrid">
        <Columns>
            <DxGridCommandColumn Width="70px" NewButtonVisible="false">
                <CellDisplayTemplate Context="myContext">
                    @{
                        int id = (myContext.DataItem as WeatherForecast).ID;
                        <DxButton RenderStyle="ButtonRenderStyle.Link" RenderStyleMode="ButtonRenderStyleMode.Contained" Text="Delete" Click="@((e) => OnDeleteButtonClick(e, myContext))" />
                    }
                </CellDisplayTemplate>
            </DxGridCommandColumn>
            <DxGridDataColumn Caption="Date" FieldName="Date" />
            <DxGridDataColumn Caption="Temperature" FieldName="TemperatureF"/>
        </Columns>
    </DxGrid>
    <DxPopup @bind-Visible="@popupVisible" HeaderText="Please confirm" Width="auto" CloseOnOutsideClick="false">
        You are about to delete the record with the id = @id. Are you sure?
        <div class="dxbl-grid-confirm-dialog-buttons">
            <DxButton Text="Cancel " RenderStyle="ButtonRenderStyle.Success" Click="@OnCancelButtonClick"/>
            <DxButton Text="Confirm" RenderStyle="ButtonRenderStyle.Danger" Click="@OnConfirmButtonClick" />
        </div>
    </DxPopup>
}

@code {
    bool popupVisible { get; set; } = false;
    IGrid myGrid { get; set; }
    Int32 id { get; set; }

    List<WeatherForecast> forecasts;

    protected override async Task OnInitializedAsync() {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }

    void OnDeleteButtonClick(MouseEventArgs args, GridCommandColumnCellDisplayTemplateContext context) {
        id = (context.DataItem as WeatherForecast).ID;
        popupVisible = true;
    }

    void OnConfirmButtonClick(MouseEventArgs args) {
        forecasts.Remove(forecasts.Find(m => m.ID == id));
        myGrid.Reload();
        popupVisible = false;
    }

    void OnCancelButtonClick(MouseEventArgs args) {
        popupVisible = false;
    }
}